* {
    box-sizing:border-box;
}
html div {
    height: 100%;
    margin: 0;
}

.HeaderImage {
    background-image: url(Selfie5.JPEG); /* Image used for background */
    background-color: oldlace;
    height: 500px;
    /* width: 500px; */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.ImageText {
    text-align: center;
    position: aboslute;
    top: 50%;
    left: 50%;
    transform: translate(0, 65%);
    Color: Black;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke;
    text-transform:uppercase;
    background-color: gray;
    height:73%;
}

html  {
    width: 100%;
    height: 100%;
    text-align:center;
    background-color: oldlace;
    font-family:'Times New Roman', Times, serif;
}
nav{
    display:float;
    background-color: Black;
    width:100%;
}
nav h1 { /*specific to just the name portion of navigation area */
    float:left;
    margin: 0x 5px;
}

nav  li {/*ignores the nav h1 element above and allows spacing of the 3 links */
    list-style-type: none;
    display: inline-block;
    margin:0px 5px;
    color: white;
    padding: 0 10px;
    justify-content:space-evenly;
}

nav li a { /*only way I could get the text color to be the white and not underlineed */
    text-decoration: none;
    color: white;
}

nav ul { /*only way I could figure out how to assure the 3 links stayed on right of webpage*/
    float: right;
}

#Portfolio {
    display: flex; /*Allows for the title to be separate from the images without wrapping into title area */
    background-color:paleturquoise;
}

#ProjectHolder {
    width: 100%;
    flex: 4;
    flex-wrap: wrap;
    background-color:paleturquoise;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap:10px;
}
#Holder1 {
    
    width: 100%;
    height: auto;
}
#ProjectHolder a {
    color:black;
    text-align:center;
}

#TITLE {
    flex:.42;
    border-right: solid 5px black;
    padding-right: 0px;
    text-align:left;
}
.ME {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    background-color:paleturquoise;
    border:none;
    padding: 22px;
    max-width: 100%;
    max-height: fit-content;
}

#Anon {
    border-right: solid 5px black;
    padding-right: 75px;
    height:100%
}

header {
    display: flex;
}

#footer {
    display: flex;
    background-color: paleturquoise;
    line-height: 1.3;
    font-family: Menlo, monospace;
}
#Side2 {
    float:left;
    border-right: solid 5px black;
    margin-right: 4px;
    padding-right: 3%;
}

#Contact {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;    
}


#Contact li { /*This allowed for the list to be in one row. and spaced out well. */
    grid-row: 1 / 2;
    list-style-type:none;
    padding:50px;
    flex-wrap:wrap;

  }
  @media screen and (max-width: 1024px) {
    main,
    nav {
        display: flex;
      flex-direction: column;
    }
  */
    #Contact{
        display:flex;
        flex-direction:column;
    }
    #Col1 {
        width:auto;
    }
    #ProjectHolder #Holder1 {
        display:flex;
        width:100%;
        height:auto;
    }
    #Side2 {
        padding-right:12px;
    }
    #Anon {
        padding-right:48px;
    }
  }

  @media screen and (max-width: 812px) {
    main,
    nav {
        display: flex;
      flex-direction: column;
    }
    #ProjectHolder {
        display:flex;
        flex-direction:column;
    }
    #Contact{
        display:flex;
        flex-direction:column;
    }
    #Col1 {
        width:auto;
    }
    #ProjectHolder #Holder1 {
        display:flex;
        width:100%;
        height:auto;
        margin-bottom:5px;
    }
    #Side2 {
        padding-right:12px;
    }
    #Anon {
        padding-right:48px;
    }
  }
  